<?xml version="1.0"?>
<!--
/**
 * Akeneo Connector Module
 *
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2019 Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <akeneo_connector>
            <akeneo_api>
                <base_url>http://demo.akeneo.com/</base_url>
                <username>admin</username>
                <client_id>1_demo_client_id</client_id>
                <client_secret>demo_secret</client_secret>
                <pagination_size>100</pagination_size>
                <edition>less_four_point_zero_point_sixty_two</edition>
            </akeneo_api>
            <products_filters>
                <mode>standard</mode>
                <completeness_type>=</completeness_type>
                <completeness_value>100</completeness_value>
                <status>1</status>
                <updated_mode>SINCE LAST N DAYS</updated_mode>
                <model_completeness_type>no_condition</model_completeness_type>
            </products_filters>
            <product>
                <akeneo_attribute_code_for_sku>sku</akeneo_attribute_code_for_sku>
                <url_generation_enabled>1</url_generation_enabled>
                <product_status_mode>default_product_status</product_status_mode>
                <default_configurable_product_status>2</default_configurable_product_status>
                <visibility_enabled>0</visibility_enabled>
                <default_visibility>1</default_visibility>
                <activation>2</activation>
                <association_related>SUBSTITUTION</association_related>
                <association_upsell>UPSELL</association_upsell>
                <association_crossell>X_SELL</association_crossell>
            </product>
            <filter_attribute>
                <filter_attribute_code_mode>0</filter_attribute_code_mode>
            </filter_attribute>
            <category>
                <is_active>1</is_active>
                <include_in_menu>1</include_in_menu>
                <is_anchor>1</is_anchor>
            </category>
            <advanced>
                <advanced_log>0</advanced_log>
                <enable_clean_logs>1</enable_clean_logs>
                <clean_logs>30</clean_logs>
                <enable_job_grid_auto_reload>1</enable_job_grid_auto_reload>
            </advanced>
            <attribute>
                <option_code_as_admin_label>0</option_code_as_admin_label>
            </attribute>
            <cache>
                <cache_type_category>block_html,full_page</cache_type_category>
                <cache_type_family>block_html,full_page</cache_type_family>
                <cache_type_attribute>block_html,full_page</cache_type_attribute>
                <cache_type_option>block_html,full_page</cache_type_option>
                <cache_type_product>block_html,full_page</cache_type_product>
            </cache>
        </akeneo_connector>
    </default>
</config>
