<?xml version="1.0"?>
<!--
/**
 * Akeneo Connector Module
 *
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2019 Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <akeneo_connector>
            <akeneo_api>
                <base_url>http://demo.akeneo.com/</base_url>
                <username>admin</username>
                <client_id>1_demo_client_id</client_id>
                <client_secret>demo_secret</client_secret>
                <pagination_size>100</pagination_size>
            </akeneo_api>
            <products_filters>
                <mode>standard</mode>
                <completeness_type>=</completeness_type>
                <completeness_value>100</completeness_value>
                <status>1</status>
                <updated_mode>SINCE LAST N DAYS</updated_mode>
            </products_filters>
            <product>
                <url_generation_enabled>1</url_generation_enabled>
                <product_model_batch_size>500</product_model_batch_size>
                <product_model_update_length>5000</product_model_update_length>
            </product>
            <category>
                <is_active>1</is_active>
                <include_in_menu>1</include_in_menu>
                <is_anchor>1</is_anchor>
            </category>
        </akeneo_connector>
    </default>
</config>
