<?xml version="1.0"?>
<!--
/**
 * Akeneo Connector Module
 *
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2019 Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Akeneo\Connector\Api\LogRepositoryInterface" type="Akeneo\Connector\Model\LogRepository"/>

    <type name="Akeneo\Connector\Job\Product">
        <plugin name="akeneo_job_product_visual_merchandiser_rebuild" type="Akeneo\Connector\Plugin\RebuildDynamicCategories"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="akeneo_job_listing_data_source" xsi:type="string">Akeneo\Connector\Model\ResourceModel\Job\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Akeneo\Connector\Model\ResourceModel\Job\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">akeneo_connector_job</argument>
            <argument name="resourceModel" xsi:type="string">Akeneo\Connector\Model\ResourceModel\Job</argument>
        </arguments>
    </virtualType>


    <type name="Akeneo\Connector\Job\Category">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="steps" xsi:type="array">
                    <item name="1" xsi:type="array">
                        <item name="method" xsi:type="string">createTable</item>
                        <item name="comment" xsi:type="string">Create temporary table</item>
                    </item>
                    <item name="2" xsi:type="array">
                        <item name="method" xsi:type="string">insertData</item>
                        <item name="comment" xsi:type="string">Fill temporary table</item>
                    </item>
                    <item name="3" xsi:type="array">
                        <item name="method" xsi:type="string">checkEntities</item>
                        <item name="comment" xsi:type="string">Check already imported entities</item>
                    </item>
                    <item name="4" xsi:type="array">
                        <item name="method" xsi:type="string">matchEntities</item>
                        <item name="comment" xsi:type="string">Match code with Adobe Commerce/Magento ID</item>
                    </item>
                    <item name="5" xsi:type="array">
                        <item name="method" xsi:type="string">setStructure</item>
                        <item name="comment" xsi:type="string">Create structure</item>
                    </item>
                    <item name="6" xsi:type="array">
                        <item name="method" xsi:type="string">setUrlKey</item>
                        <item name="comment" xsi:type="string">Create URL key</item>
                    </item>
                    <item name="7" xsi:type="array">
                        <item name="method" xsi:type="string">removeCategoriesByFilter</item>
                        <item name="comment" xsi:type="string">Remove Categories By Filter</item>
                    </item>
                    <item name="8" xsi:type="array">
                        <item name="method" xsi:type="string">setPosition</item>
                        <item name="comment" xsi:type="string">Create position</item>
                    </item>
                    <item name="9" xsi:type="array">
                        <item name="method" xsi:type="string">createEntities</item>
                        <item name="comment" xsi:type="string">Create and update category entities</item>
                    </item>
                    <item name="10" xsi:type="array">
                        <item name="method" xsi:type="string">setValues</item>
                        <item name="comment" xsi:type="string">Set values to attributes</item>
                    </item>
                    <item name="11" xsi:type="array">
                        <item name="method" xsi:type="string">updateChildrenCount</item>
                        <item name="comment" xsi:type="string">Count of child categories</item>
                    </item>
                    <item name="12" xsi:type="array">
                        <item name="method" xsi:type="string">setUrlRewrite</item>
                        <item name="comment" xsi:type="string">Set Url Rewrite</item>
                    </item>
                    <item name="13" xsi:type="array">
                        <item name="method" xsi:type="string">dropTable</item>
                        <item name="comment" xsi:type="string">Drop temporary table</item>
                    </item>
                    <item name="14" xsi:type="array">
                        <item name="method" xsi:type="string">refreshIndex</item>
                        <item name="comment" xsi:type="string">Refresh index</item>
                    </item>
                    <item name="15" xsi:type="array">
                        <item name="method" xsi:type="string">cleanCache</item>
                        <item name="comment" xsi:type="string">Clean cache</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Akeneo\Connector\Job\Family">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="steps" xsi:type="array">
                    <item name="1" xsi:type="array">
                        <item name="method" xsi:type="string">createTable</item>
                        <item name="comment" xsi:type="string">Create temporary table</item>
                    </item>
                    <item name="2" xsi:type="array">
                        <item name="method" xsi:type="string">insertData</item>
                        <item name="comment" xsi:type="string">Fill temporary table</item>
                    </item>
                    <item name="3" xsi:type="array">
                        <item name="method" xsi:type="string">checkEntities</item>
                        <item name="comment" xsi:type="string">Check already imported entities</item>
                    </item>
                    <item name="4" xsi:type="array">
                        <item name="method" xsi:type="string">matchEntities</item>
                        <item name="comment" xsi:type="string">Match code with Adobe Commerce/Magento ID</item>
                    </item>
                    <item name="5" xsi:type="array">
                        <item name="method" xsi:type="string">insertFamilies</item>
                        <item name="comment" xsi:type="string">Create or update families</item>
                    </item>
                    <item name="6" xsi:type="array">
                        <item name="method" xsi:type="string">insertFamiliesAttributeRelations</item>
                        <item name="comment" xsi:type="string">Create or update family attribute relations</item>
                    </item>
                    <item name="7" xsi:type="array">
                        <item name="method" xsi:type="string">initGroup</item>
                        <item name="comment" xsi:type="string">Init families from default skeleton</item>
                    </item>
                    <item name="8" xsi:type="array">
                        <item name="method" xsi:type="string">dropTable</item>
                        <item name="comment" xsi:type="string">Drop temporary table</item>
                    </item>
                    <item name="9" xsi:type="array">
                        <item name="method" xsi:type="string">refreshIndex</item>
                        <item name="comment" xsi:type="string">Refresh index</item>
                    </item>
                    <item name="10" xsi:type="array">
                        <item name="method" xsi:type="string">cleanCache</item>
                        <item name="comment" xsi:type="string">Clean cache</item>
                    </item>
                </item>
            </argument>
            <argument name="class" xsi:type="object">Akeneo\Connector\Helper\Store</argument>
        </arguments>
    </type>

    <type name="Akeneo\Connector\Job\Attribute">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="steps" xsi:type="array">
                    <item name="1" xsi:type="array">
                        <item name="method" xsi:type="string">createTable</item>
                        <item name="comment" xsi:type="string">Create temporary table</item>
                    </item>
                    <item name="2" xsi:type="array">
                        <item name="method" xsi:type="string">insertData</item>
                        <item name="comment" xsi:type="string">Fill temporary table</item>
                    </item>
                    <item name="3" xsi:type="array">
                        <item name="method" xsi:type="string">checkEntities</item>
                        <item name="comment" xsi:type="string">Check already imported entities</item>
                    </item>
                    <item name="4" xsi:type="array">
                        <item name="method" xsi:type="string">matchEntities</item>
                        <item name="comment" xsi:type="string">Match code with Magento/Adobe Commerce ID</item>
                    </item>
                    <item name="5" xsi:type="array">
                        <item name="method" xsi:type="string">matchType</item>
                        <item name="comment" xsi:type="string">Match type</item>
                    </item>
                    <item name="6" xsi:type="array">
                        <item name="method" xsi:type="string">matchFamily</item>
                        <item name="comment" xsi:type="string">Match family</item>
                    </item>
                    <item name="7" xsi:type="array">
                        <item name="method" xsi:type="string">addAttributes</item>
                        <item name="comment" xsi:type="string">Add or update attributes</item>
                    </item>
                    <item name="8" xsi:type="array">
                        <item name="method" xsi:type="string">dropTable</item>
                        <item name="comment" xsi:type="string">Drop temporary table</item>
                    </item>
                    <item name="9" xsi:type="array">
                        <item name="method" xsi:type="string">refreshIndex</item>
                        <item name="comment" xsi:type="string">Refresh index</item>
                    </item>
                    <item name="10" xsi:type="array">
                        <item name="method" xsi:type="string">cleanCache</item>
                        <item name="comment" xsi:type="string">Clean cache</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Akeneo\Connector\Job\Option">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="steps" xsi:type="array">
                    <item name="1" xsi:type="array">
                        <item name="method" xsi:type="string">createTable</item>
                        <item name="comment" xsi:type="string">Create temporary table</item>
                    </item>
                    <item name="2" xsi:type="array">
                        <item name="method" xsi:type="string">insertData</item>
                        <item name="comment" xsi:type="string">Fill temporary table</item>
                    </item>
                    <item name="3" xsi:type="array">
                        <item name="method" xsi:type="string">mapOptions</item>
                        <item name="comment" xsi:type="string">Map select and multiselect options from configuration</item>
                    </item>
                    <item name="4" xsi:type="array">
                        <item name="method" xsi:type="string">checkEntities</item>
                        <item name="comment" xsi:type="string">Check already imported entities</item>
                    </item>
                    <item name="5" xsi:type="array">
                        <item name="method" xsi:type="string">matchEntities</item>
                        <item name="comment" xsi:type="string">Match code with Magento/Adobe Commerce ID</item>
                    </item>
                    <item name="6" xsi:type="array">
                        <item name="method" xsi:type="string">insertOptions</item>
                        <item name="comment" xsi:type="string">Insert Options</item>
                    </item>
                    <item name="7" xsi:type="array">
                        <item name="method" xsi:type="string">insertValues</item>
                        <item name="comment" xsi:type="string">Insert Values</item>
                    </item>
                    <item name="8" xsi:type="array">
                        <item name="method" xsi:type="string">dropTable</item>
                        <item name="comment" xsi:type="string">Drop temporary table</item>
                    </item>
                    <item name="9" xsi:type="array">
                        <item name="method" xsi:type="string">refreshIndex</item>
                        <item name="comment" xsi:type="string">Refresh index</item>
                    </item>
                    <item name="10" xsi:type="array">
                        <item name="method" xsi:type="string">cleanCache</item>
                        <item name="comment" xsi:type="string">Clean cache</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Akeneo\Connector\Job\Product">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="steps" xsi:type="array">
                    <item name="1" xsi:type="array">
                        <item name="method" xsi:type="string">createTable</item>
                        <item name="comment" xsi:type="string">Create temporary table</item>
                    </item>
                    <item name="2" xsi:type="array">
                        <item name="method" xsi:type="string">insertData</item>
                        <item name="comment" xsi:type="string">Fill temporary table</item>
                    </item>
                    <item name="3" xsi:type="array">
                        <item name="method" xsi:type="string">productModelImport</item>
                        <item name="comment" xsi:type="string">Product Model Import</item>
                    </item>
                    <item name="4" xsi:type="array">
                        <item name="method" xsi:type="string">familyVariantImport</item>
                        <item name="comment" xsi:type="string">Family Variant Import</item>
                    </item>
                    <item name="5" xsi:type="array">
                        <item name="method" xsi:type="string">addRequiredData</item>
                        <item name="comment" xsi:type="string">Add required data</item>
                    </item>
                    <item name="6" xsi:type="array">
                        <item name="method" xsi:type="string">createConfigurable</item>
                        <item name="comment" xsi:type="string">Create configurables</item>
                    </item>
                    <item name="7" xsi:type="array">
                        <item name="method" xsi:type="string">createEmptyAttributesColumns</item>
                        <item name="comment" xsi:type="string">Create empty attributes columns</item>
                    </item>
                    <item name="8" xsi:type="array">
                        <item name="method" xsi:type="string">createMetricsOptions</item>
                        <item name="comment" xsi:type="string">Create Options for Variant Metrics Attributes</item>
                    </item>
                    <item name="9" xsi:type="array">
                        <item name="method" xsi:type="string">checkEntities</item>
                        <item name="comment" xsi:type="string">Check already imported entities</item>
                    </item>
                    <item name="10" xsi:type="array">
                        <item name="method" xsi:type="string">matchEntities</item>
                        <item name="comment" xsi:type="string">Match code with Magento/Adobe Commerce ID</item>
                    </item>
                    <item name="11" xsi:type="array">
                        <item name="method" xsi:type="string">updateAttributeSetId</item>
                        <item name="comment" xsi:type="string">Match family code with Magento/Adobe Commerce ID</item>
                    </item>
                    <item name="12" xsi:type="array">
                        <item name="method" xsi:type="string">updateOption</item>
                        <item name="comment" xsi:type="string">Update column values for options</item>
                    </item>
                    <item name="13" xsi:type="array">
                        <item name="method" xsi:type="string">createEntities</item>
                        <item name="comment" xsi:type="string">Create or update product entities</item>
                    </item>
                    <item name="14" xsi:type="array">
                        <item name="method" xsi:type="string">importFiles</item>
                        <item name="comment" xsi:type="string">Import file attributes</item>
                    </item>
                    <item name="15" xsi:type="array">
                        <item name="method" xsi:type="string">setValues</item>
                        <item name="comment" xsi:type="string">Set values to attributes</item>
                    </item>
                    <item name="16" xsi:type="array">
                        <item name="method" xsi:type="string">linkConfigurable</item>
                        <item name="comment" xsi:type="string">Link configurable with children</item>
                    </item>
                    <item name="17" xsi:type="array">
                        <item name="method" xsi:type="string">linkSimple</item>
                        <item name="comment" xsi:type="string">Link simple products with configurable products</item>
                    </item>
                    <item name="18" xsi:type="array">
                        <item name="method" xsi:type="string">setWebsites</item>
                        <item name="comment" xsi:type="string">Set products to websites</item>
                    </item>
                    <item name="19" xsi:type="array">
                        <item name="method" xsi:type="string">setCategories</item>
                        <item name="comment" xsi:type="string">Set products to categories</item>
                    </item>
                    <item name="20" xsi:type="array">
                        <item name="method" xsi:type="string">initStock</item>
                        <item name="comment" xsi:type="string">Init stock</item>
                    </item>
                    <item name="21" xsi:type="array">
                        <item name="method" xsi:type="string">setRelated</item>
                        <item name="comment" xsi:type="string">Update related, up-sell and cross-sell products</item>
                    </item>
                    <item name="22" xsi:type="array">
                        <item name="method" xsi:type="string">setGrouped</item>
                        <item name="comment" xsi:type="string">Set grouped products relations</item>
                    </item>
                    <item name="23" xsi:type="array">
                        <item name="method" xsi:type="string">setUrlRewrite</item>
                        <item name="comment" xsi:type="string">Set Url Rewrite</item>
                    </item>
                    <item name="24" xsi:type="array">
                        <item name="method" xsi:type="string">importMedia</item>
                        <item name="comment" xsi:type="string">Import image attributes</item>
                    </item>
                    <item name="25" xsi:type="array">
                        <item name="method" xsi:type="string">dropTable</item>
                        <item name="comment" xsi:type="string">Drop temporary table</item>
                    </item>
                    <item name="26" xsi:type="array">
                        <item name="method" xsi:type="string">refreshIndex</item>
                        <item name="comment" xsi:type="string">Refresh index</item>
                    </item>
                    <item name="27" xsi:type="array">
                        <item name="method" xsi:type="string">cleanCache</item>
                        <item name="comment" xsi:type="string">Clean cache</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="import" xsi:type="object">Akeneo\Connector\Console\Command\AkeneoConnectorImportCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Model\Config\Version" shared="false">
        <arguments>
            <argument name="componentRegistrar" xsi:type="object">Magento\Framework\Component\ComponentRegistrarInterface</argument>
            <argument name="readFactory" xsi:type="object">Magento\Framework\Filesystem\Directory\ReadFactory</argument>
        </arguments>
    </type>

    <type name="Akeneo\Connector\Logger\Handler\AttributeHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\AttributeLogger">
        <arguments>
            <argument name="name" xsi:type="string">akeneoConnectorAttributeLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Akeneo\Connector\Logger\Handler\AttributeHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\Handler\CategoryHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\CategoryLogger">
        <arguments>
            <argument name="name" xsi:type="string">akeneoConnectorCategoryLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Akeneo\Connector\Logger\Handler\CategoryHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\Handler\FamilyHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\FamilyLogger">
        <arguments>
            <argument name="name" xsi:type="string">akeneoConnectorFamilyLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Akeneo\Connector\Logger\Handler\FamilyHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\Handler\OptionHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\OptionLogger">
        <arguments>
            <argument name="name" xsi:type="string">akeneoConnectorOptionLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Akeneo\Connector\Logger\Handler\OptionHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\Handler\ProductHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Akeneo\Connector\Logger\ProductLogger">
        <arguments>
            <argument name="name" xsi:type="string">akeneoConnectorProductLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Akeneo\Connector\Logger\Handler\ProductHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Akeneo\Connector\Console\Command\AkeneoConnectorImportCommand">
        <arguments>
            <argument name="jobExecutor" xsi:type="object">Akeneo\Connector\Executor\JobExecutor\Proxy</argument>
        </arguments>
    </type>
</config>
