<?xml version="1.0"?>
<!--
/**
 * Akeneo Connector Module
 *
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2019 Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="akeneo_connector" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Akeneo Connector</label>
            <tab>catalog</tab>
            <resource>Akeneo_Connector::config_akeneo_connector</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1">
                <label>General</label>
                <field id="version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extension Version</label>
                    <backend_model>Akeneo\Connector\Model\Config\Version</backend_model>
                </field>
            </group>
            <group id="akeneo_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Akeneo API Configuration</label>
                <field id="base_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Akeneo base URL</label>
                </field>
                <field id="username" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Akeneo username</label>
                    <comment>The Akeneo user should have permissions to list</comment>
                    <validate>no-whitespace</validate>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Akeneo password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Akeneo API client ID</label>
                    <validate>no-whitespace</validate>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Akeneo API client secret</label>
                    <validate>no-whitespace</validate>
                </field>
                <field id="api_test" translate="label" type="button" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Api\Test</frontend_model>
                    <label>Test API credentials</label>
                </field>
                <field id="pagination_size" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pagination size</label>
                    <comment>Must be a value between 1 and 100. Default value is 100.</comment>
                </field>
                <field id="admin_channel" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Website Channel</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Channel</source_model>
                    <comment>Set Magento Admin website default Akeneo channel</comment>
                </field>
                <field id="website_mapping" translate="label" type="text" sortOrder="91" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Website Mapping</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Website</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Match Magento website with Akeneo channel</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="products_filters" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Filter products</label>
                <field id="mode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mode</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Mode</source_model>
                </field>
                <field id="completeness_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Completeness type</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Completeness</source_model>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="completeness_locales" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Locales</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Locales</source_model>
                    <comment>Select the locales to apply the completeness filter on</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="completeness_type" separator="," negative="1">
                            <![CDATA[<,<=,>,>=,=,!=,no_condition]]></field>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="completeness_value" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Completeness value</label>
                    <comment>Has to be a value between 0 and 100</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="completeness_type" negative="1">no_condition</field>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Status</source_model>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="updated_mode" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0"
                        showInStore="0">
                    <label>Updated mode</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Update</source_model>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="updated_lower" translate="label" type="date" sortOrder="80" showInDefault="1" showInWebsite="0"
                        showInStore="0">
                    <label>Updated before</label>
                    <comment>Import only product updated before the given date. Leave blank for no filter.</comment>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Date</frontend_model>
                    <depends>
                        <field id="mode">standard</field>
                        <field id="updated_mode">&lt;</field>
                    </depends>
                </field>
                <field id="updated_greater" translate="label" type="date" sortOrder="90" showInDefault="1" showInWebsite="0"
                        showInStore="0">
                    <label>Updated after</label>
                    <comment>Import only product updated after the given date. Leave blank for no filter.</comment>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Date</frontend_model>
                    <depends>
                        <field id="mode">standard</field>
                        <field id="updated_mode">&gt;</field>
                    </depends>
                </field>
                <field id="updated_between_after" translate="label" type="date" sortOrder="100" showInDefault="1" showInWebsite="0"
                        showInStore="0">
                    <label>Updated after</label>
                    <comment>Import only product updated after the given date. Leave at least one blank for no filter.</comment>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Date</frontend_model>
                    <depends>
                        <field id="mode">standard</field>
                        <field id="updated_mode">BETWEEN</field>
                    </depends>
                </field>
                <field id="updated_between_before" translate="label" type="date" sortOrder="110" showInDefault="1" showInWebsite="0"
                        showInStore="0">
                    <label>Updated before</label>
                    <comment>Import only product updated before the given date. Leave at least one blank for no filter.</comment>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Date</frontend_model>
                    <depends>
                        <field id="mode">standard</field>
                        <field id="updated_mode">BETWEEN</field>
                    </depends>
                </field>
                <field id="updated" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="0"
                        showInStore="0">
                    <label>Updated</label>
                    <comment>
                        <![CDATA[Import only product updated since last X days. Leave blank for no filter.]]>
                    </comment>
                    <depends>
                        <field id="mode">standard</field>
                        <field id="updated_mode">SINCE LAST N DAYS</field>
                    </depends>
                </field>
                <field id="families" translate="label comment" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Families</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Family</source_model>
                    <comment>
                        <![CDATA[Select the families you don't want to retrieve products from.<br/> If the multiselect is empty, it means you don't have any families in your Akeneo, or the provided credentials are wrong.]]>
                    </comment>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="advanced_filter" translate="label comment" type="textarea" sortOrder="140" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Advanced Filter</label>
                    <backend_model>Akeneo\Connector\Model\Backend\Json</backend_model>
                    <comment>
                        <![CDATA[Build your query using a json.<br/>
                        Please, ensure that your JSON format is valid before using advanced filter.<br/>
For example :<br/>
<pre>
{
    "search": {
        "enabled": [{
            "operator": "=",
            "value": true
        }],
        "sku": [{
            "operator": "STARTS WITH",
            "value": "A"
        }]
    },
    "scope": "ecommerce",
    "locales": "fr_FR,de_DE"
}</pre>]]>
                    </comment>
                    <depends>
                        <field id="mode">advanced</field>
                    </depends>
                </field>
            </group>
            <group id="category" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Category</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Activate new categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Newly imported categories will be activated</comment>
                </field>
                <field id="include_in_menu" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Include new categories in menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Newly imported categories categories will be included in menu</comment>
                </field>
                <field id="is_anchor" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set new categories in anchor mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Newly imported categories will be in anchor mode</comment>
                </field>
                <field id="categories" translate="label comment" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Categories</label>
                    <source_model>Akeneo\Connector\Model\Source\Filters\Category</source_model>
                    <comment>
                        <![CDATA[Select the categories you don't want to import.<br/> If the field is empty, it means you don't have any categories in your Akeneo, or the provided credentials are wrong.]]>
                    </comment>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
            </group>
            <group id="attribute" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Attributes</label>
                <field id="types" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Additional types</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Type</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Match specific Akeneo type with Magento input field</comment>
                </field>
            </group>
            <group id="product" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Products</label>
                <field id="website_attribute" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Website Attribute</label>
                    <comment>Enter the code of the select or multiselect attribute used to associate products to your websites, leave blank to ignore</comment>
                </field>
                <field id="attribute_mapping" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute Mapping</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Attribute</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>
                        <![CDATA[Fill additional Magento attributes from Akeneo attributes.<br/>
"price" "special_price" and "cost" attributes won't be automatically mapped unless you explicitely declare them in this configuration.]]>
                    </comment>
                </field>
                <field id="metrics" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Metric Attributes</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Metrics</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="tax_class" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Tax Class</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Tax</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Set up default tax class for website</comment>
                </field>
                <field id="configurable_attributes" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configurable</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Configurable</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>
                        <![CDATA[
                        <strong>Attribute:</strong> Declare each product model attributes that has to be imported in the configurable product.
                        <br /><br />
                        <strong>Type:</strong>
                        <br />
                        - <u>Product Model value</u>: Declare each PIM common attributes you want to be imported in the Magento configurable products. Leave the value field empty.
                        <br />
                        - <u>First Variation value</u>: Declare each PIM variation specific attributes you want to be imported in the Magento configurable products. The value of the first variation associated to the product model will be inserted in the corresponding Magento configurable product attribute. Leave the value field empty.
                        <br />
                        - <u>Mapping</u>: Declare each PIM common attributes you want to be mapped with another Magento attribute. Fill the value field with the corresponding Magento attribute. Example: Attribute = name_product_model and Value = name
                        <br />
                        - <u>SQL Statement</u>: Use a SQL statement in the value field for custom value assignation from Akeneo Connector temporary tables. Example: Attribute = url_key and Value = LOWER(url_key)
                        <br />
                        - <u>Default value</u>: Fill the value field to assign a constant default value for a given attribute. Example: Attribute = enabled and Value = 0
                        ]]>
                    </comment>
                </field>
                <field id="product_model_batch_size" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Model Batch Size</label>
                    <comment>
                        <![CDATA[The number of product models handled per database update.</br>
                        You can lower this value to prevent MYSQL errors from database limitations.<br />
                        If set to 1, product models will be imported one by one.<br />
                        If set to 0, "Product Model Update Length" value below will be used instead.<br />
                        <u>Default value: 500</u>]]>
                    </comment>
                </field>
                <field id="product_model_update_length" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Model Update Length</label>
                    <comment>
                        <![CDATA[If the above "Product Model Batch Size" value is set to 0, the database command to insert product models will be sliced into separate statements no bigger than the given value.</br>
                        This is an approximate value, and must be superior to 1000 characters.</br>
                        <u>Default value: 5000</u>]]>
                    </comment>
                </field>
                <field id="media_enabled" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import Media Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="media_gallery" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Akeneo Images Attributes</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Gallery</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Enter all PIM attributes containing product images. All images specified will be imported to the product image gallery.</comment>
                    <depends>
                        <field id="media_enabled">1</field>
                    </depends>
                </field>
                <field id="media_images" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Images Mapping</label>
                    <frontend_model>Akeneo\Connector\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Map Magento image type for products. Associate the image type option to a PIM attribute specified in the Akeneo Attribute for Image Gallery field. After import, all specified options will be filled by their image if provided.</comment>
                    <depends>
                        <field id="media_enabled">1</field>
                    </depends>
                </field>
                <field id="url_generation_enabled" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Regenerate url rewrites</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
